@model GummiBear.Models.Item

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Gummi Bear Kingdom</h1>
<div class="homePage">
    <h3>Welcome to Gummi Bear Kingdom!</h3>
    <br>
    <span class="bigLink">@Html.ActionLink("View Items", "Index", "Items")</span>
</div>