@{
    ViewData["Title"] = "Home Page";
}

@{
}

<html>
<head>
    <title>Gummi Bear Kingdom</title>
</head>
<body>
    <h1>Gummi Bear Kingdom</h1>
    <p>@Html.ActionLink("Item list", "Index", "Items")</p>
</body>
</html>