@model IEnumerable<GummiBear.Models.Review>

@{
    Layout = "_Layout";
    ViewBag.Title = "GBK - Add Review";
}



@if (Model.Count() == 0)
{
    <h3>Average Rating: N/A</h3>
}

@foreach (var review in Model)
{
    <div>
        <h4>Rating: @review.Rating</h4>
        <h5>@review.Content</h5>
        <br />
    </div>
}


@Html.ActionLink("Add a Review", "Create", "Reviews", new { id = ViewBag.Item.ItemId }) |
@Html.ActionLink("Back to Items", "Index", "Items", new { id = ViewBag.Item.ItemId })